<section class="app-grid__row" style="<%= wrapper_styles(container) %>" data-container="<%= container.id %>">
  <% container.elements.each do |element| %>
    <%= render \
      partial: "#{element_template(element.kind)}/preview",
      layout: 'post/element_wrapper/preview',
      locals: { element: element }
    %>
  <% end %>
</section>