<section class="app-grid__row container--<%= container.id %>">
  <% container.elements.each do |element| %>
    <%= render(
        partial: element.build_template_name,
        layout: 'post/element_wrapper/template',
        locals: { element: element }
      )
    %>
  <% end %>
</section>